<table class="table">
  <tr>
    <th>id</th>
    <th>Nazwa</th>
    <th>Szerokość</th>
    <th>Długość</th>
    <th>Edytuj</th>
    <th>Usuń</th>
  </tr>
  <tr *ngFor="let track of tracks | async">
    <td>{{track.id}}</td>
    <td>{{track.name}}</td>
    <td>{{track.latitude}}</td>
    <td>{{track.longitude}}</td>
    <td>
      <button class="btn btn-outline-info mx-2" [routerLink]="['/tracks', track.id, 'edit']">Edytuj</button>
    </td>
    <td>
      <button (click)="remove(track)" class="btn btn-outline-danger mx-2">Usuń</button>
    </td>
  </tr>
</table>
<button class="btn btn-outline-info mx-2" [routerLink]="['/tracks', 'create']">Dodaj</button>

