<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand">Tracks</a>
  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/tracks']">Tracks</a>
      </li>
<!--      <li class="nav-item">-->
<!--        <h:link outcome="race_list.xhtml" value="Races" class="nav-link"/>-->
<!--      </li>-->
    </ul>
  </div>
</nav>
<section>
  <router-outlet></router-outlet>
</section>
<footer></footer>
